/*css for all div(s)*/

div {
    display: block;
}


/*css rules for body element*/

body {
    margin: 0;
}


/*css rules for Header container*/

header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
}

.logo img {
    width: 70px;
    height: 60px;
    margin-right: 12px;
}

.logo span {
    color: mediumaquamarine;
}

header nav {
    padding-right: 40px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

a {
    color: black;
}


/*css rules for Main Content Container*/

.content {
    display: flex;
    width: 1232px;
    margin: 0 auto 78px auto;
    padding-top: 116px;
}


/*css rules for class columns*/

.column {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}


/*css rule for large column*/

.column.large {
    width: 630px;
}


/*css rule for element <p>*/

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


/*css rule for element <h2>*/

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


/*css rule for medium column*/

.column.medium {
    width: 300px;
}


/*css rule for small column*/

.column.small {
    width: 240px;
}


/*css rule for all image-content(s)*/

.image-content {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 15px;
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: white;
}


/*css rule for column large 1st image*/

.lead-story .image-content {
    background-image: url("../images/MainStory.png");
    width: 630px;
    margin-top: 0;
    font-size: 40px;
    text-align: left;
    align-content: center;
}


/*css rule for column large 2nd image*/

.fall-cancelled.image-content {
    background-image: url("../images/FallSeason.png");
}


/*css rule for column large 3rd image*/

.pop-culture.image-content {
    background-image: url("../images/HipsterCameraman.png");
}


/*css rule for column medium  image*/

.cat-ceo.image-content {
    background-image: url("../images/CatCEO.png");
}


/*make stories flexible*/

.stories {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.stories .text-content {
    height: 250px;
}

.narrative {
    margin-top: 16px;
}

.story {
    display: flex;
    flex-direction: column;
    width: 300px;
}


/*3rd column*/

img.cookie {
    height: 240px;
}

.news-bites h3 {
    margin-bottom: 41px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 11px 20px;
}

.news-bites .bite {
    display: block;
    padding: 11px 20px;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    font-family: Verdana;
    font-size: 12px;
    color: dimgray;
}

.bite span {
    padding-left: 11px;
}


/*css for footer*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 325px;
    background-color: mediumaquamarine;
    margin: 0 auto;
    font-family: Verdana;
    font-size: 12px;
}

footer .title {
    display: inline-block;
    padding-right: 25px;
    border-right: 2px solid white;
    color: white;
}

footer nav {
    display: inline-block;
    padding-left: 25px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

.copyright {
    align-items: flex-end;
    justify-content: center;
}